.usersList{
    flex: 4;
}
.usersName{
    display: flex;
    align-items: center;

}

.usersImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.usersEditBtn{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(17, 202, 17);
    color: white;
    cursor: pointer;
    margin-right: 20px;

}

.usersDelIcon{
    color: red;
    cursor: pointer;
}