.newUser{
    flex: 4;

}

.newUserForm{
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    place-items: center; 
    align-content: center;
}

.newUserDiv{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserDiv>label{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newUserDiv>input{
height: 40px;
padding: 10px;
font-size: 18px;
border: 1px solid gray;
border-radius: 5px;
}

.newUserGender >input{
    margin-top: 15px;
}


.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: rgb(151, 150, 150);
}

.userActiveSelect{
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    /* color:     color: rgb(151, 150, 150);; */
        color: rgb(151, 150, 150);
}

.newUserAddBtn{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;

    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}